.CartVew {
    position: fixed; 
    top: 55px; 
    right: 12px;
    width: 350px;
    max-height: 100vh;
    background-color: rgb(0, 0, 0); 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  
  .Cart-Item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  
  .CartVew .contenedorBotones {
    display: flex;
    border:2px solid rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
  }
  
  
  .CartVew .BotonChek {
    color: rgb(27, 23, 23);
    border:none;
    border-radius: 5px;
    padding: 20px 15px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  
  .CartVew .Check {
    background-color: #5ecce1;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  