*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.cardItems{
        background-color: rgb(24, 132, 162);
        height: 480px;
        width:300px;
        padding:10px;
        margin:30px;
        display: flex;
        flex-direction:column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2) ;
}

.cardItems .cardImg{
        background-color: rgb(215, 213, 213);
        display:flex;
        justify-content:center;
        height:50%;
}

.cardItems .cardImg img{
        width:100%;
}

#addCart {
    width:50px;
    height: 50px;
}
 #addCart img {
    width:70%;
}

.cardDescription{
        display: flex;
        flex-direction:column;
        text-align: center;
        height:50%;
        width:100%;
}
.cardDescription .title{
        font-weight: bolder;
        font-size:21px;
        margin:6px 0;
}

.cardDescription .cant {
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 16px;
        margin: 6px 0;
}

.cardDescription .price{
        color: rgb(186, 239, 254);
        font-size: 40px;
        font-weight: bold;
}

.buttons{
        height: 15%;
        display:flex;
        align-items:center;
        justify-content: space-between;
}

.buttons #details {
        font-weight:bold;
        height: 60%;
        width:40%;
        border-radius:20px;
        background-color: rgb(0, 0, 0) ;
        color:rgb(98, 207, 207);
        border:none;
}

.buttons #details:hover{
        background-color: rgb(18, 99, 121);
}

.buttons #addCart {
        background-color: rgb(0, 0, 0);
        height: 60%;
        width:35%;
        border-radius:20px;
        border:none;
        justify-content: space-between;

}

.buttons #addCart img{
        transform: scale(0.8);
        width:30%;

}
.buttons #addCart:hover{
        background-color: rgb(18, 99, 121);
}