*{
  margin:0;
  padding:0;
}
.navbar {
  width: 100%;
  height:30%;
  background-color: #333; 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}


.brandcontainer {
  flex: 1;
}

.brand-page {
  text-decoration: none; 
  color: #fff;
}

.brand-img {
  max-width: 100px; 
  height: auto;
}


.Categories {
  display: flex;
  align-items: center;
}

.sub-Category {
  display: flex;
  margin-right: 10px;
}

.itemList {
  text-decoration: none; 
  color: #fff; 
  font-size: 18px; 
  font-weight: bold; 
  margin-right: 10px; 
  transition: color 0.3s;
}

.itemList:hover {
  color: #36D7B7;
}


.container-carrit {
  display: flex;
  align-items: center;
  justify-content: center;
  width:10%;
  height:100%;
  min-width:72px;
}

.Cart-img{
  width: 40%;
}

.CartContainer {
  position: relative;
  display: inline-block;
}


.CartToggle {
  cursor: pointer;
}


.CartToggle img {
  width: 40px;
  height: 40px;
}


.CartToggle span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}


.CartContents {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}


.CartContents .ItemCart {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}


.CartContents .CartButtons {
  margin-top: 10px;
  text-align: center;
}

.CartContents .CartButtons button,
.CartContents .CartButtons a {
  margin-right: 10px;
}